doctype html
 
html
    head
        title 스타일 테스트 화면
        link(rel='stylesheet', href='/stylesheets/style.css')
        style.dark-mode.
            #{result}
    body
        block content
            #container
                p 텍스트텍스트텍스트
                form(action='/style/color' method='post')
                    label
                        input(type='radio' name='style_change' value='original')
                        | Original
                    label
                        input(type='radio' name='style_change' value='dark')
                        | Dark mode
                    p 
                        input(type='submit' value='스타일 적용')