doctype html
 
html
    head
        title 스타일 테스트 화면
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block content
            #container
                p 텍스트텍스트텍스트
                form(action='/style' method='post')
                    - for (var i=0; i < filelist.length; i++){
                    - var file = filelist[i];
                    label
                        input(type='checkbox' name='style_change' value='#{file}')
                        | #{file}
                    -}
                    p 
                        input(type='submit' value='submit')