
body {
    margin: 0 !important;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.App-madebymermaid {
    width: 100%; height: 100vh;
    margin: 0 auto;
    overflow: hidden;
}

.App-madebymermaid .header {
    width: 100%; height: 70px;
    position: fixed; top: 0; left: 0;
    z-index: 99999;
    padding-left: 50px;
    background-color: #fff !important;
}

.App-madebymermaid .header .logo {
    clear: both;
    line-height: 70px;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.App-madebymermaid .header .logo .title{
    font-size: 2em !important;
    float: left;
    margin-right: 10px;
    font-family: 'Edu TAS Beginner', cursive;
}

.App-madebymermaid .header .logo .logo_img{
    width: 55px; height: 55px;
    float: left;
}

.App-madebymermaid .header .service_form {
    text-align: center;
    position: relative;
    top: 15px; left: 30px;
    float: left;
}

.App-madebymermaid .header .form_add_style input[type="url"] {
    width: 40vw;
    font-size: 1.2em;
}

.App-madebymermaid .header .form_add_style input[type="submit"] {
    font-size: 1.5em;
    position: relative;
    right: 90px;
    color: #222;
    background: none;
}

.App-madebymermaid #tool-box {
    width: 600px;
    position: absolute;
    top: 0; right: 0;
    z-index: 30 !important;
}

.App-madebymermaid #tool-box .tool-bar {
    position: relative;
}

.App-madebymermaid #tool-box .tool-bar .burger {
    position: absolute;
    top:0; right: 15px;
    width: 75px;
    text-align: center;
    cursor: pointer;
}

.App-madebymermaid #tool-box .tool-bar .burger img{
    margin: 15px;
    width: 40px; height: 40px;
}

.App-madebymermaid #tool-box .tool-bar #burger-list {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 75px; left: 600px;
    padding: 30px;
    background-color: #fff;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    box-shadow: 0 0 5px #444;
    transition: all 0.8s;
}

.transform {
    transform: translateX(-600px);
}

.rendered-page {
    position: relative; top: 70px;
    width: 100vw; height: 90vh;
    margin: 5px auto;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 2;
}

.rendered-page::-webkit-scrollbar {
    width: 10px;
}
.rendered-page::-webkit-scrollbar-thumb {
    background-color: #2f3542;
}
.rendered-page::-webkit-scrollbar-track {
    background-color: grey;
}

/* The switch - the box around the slider */

.toggle-focus-effect {
    position: absolute;
    width: 60px;
    height: 34px;
    top: 40px;
    right: 40px;
}

.toggle-focus-effect label[for="focus"] {
    position: relative;
    right: 50px;
}

  /* Hide default HTML checkbox */
.toggle-focus-effect input {
    opacity: 0;
    width: 0;
    height: 0;
}

  /* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #333;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

  /* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}