* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 !important;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.App-madebymermaid {
    width: 100%; height: 100vh;
    margin: 0 auto;
}

.App-madebymermaid .header::before {
    display: block;
    content: '';
    width: 100vw; height: 70px;
    background-color: #eee;
    position: absolute; top: 0; left: 0;
    z-index: -1;
}

.App-madebymermaid .header {
    width: 100%; height: 70px;
    position: fixed; top: 0; left: 0;
    z-index: 99999;
    padding-left: 50px
}

.App-madebymermaid .header .logo {
    clear: both;
    line-height: 70px;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.App-madebymermaid .header .logo .title{
    font-size: 2em !important;
    float: left;
    margin-right: 10px;
}

.App-madebymermaid .header .logo .logo_img{
    width: 55px; height: 55px;
    float: left;
}

.App-madebymermaid .header .service_form {
    width: 500px;
    text-align: center;
    position: absolute;
    right: 10px; top: 10px;
    float: left;
}

.App-madebymermaid .header .service_form input[type="url"]{
    padding: 5px;
    font-size: 25px;
    margin-right: 5px;
    border-radius: 5px;
}

.App-madebymermaid .header .service_form input[type="submit"]{
    padding: 5px 15px;
    font-size: 25px;
    border-radius: 5px;
    background-color: #6BCB77; color: #eee;
    border: none;
}

.App-madebymermaid .contents::before {
    display: block;
    content: '';
    width: 100vw; height: 100vh;
    position: absolute; top: 0; left: 0;
    z-index: -2;
    background-color: #270082 !important;
}

.App-madebymermaid #tool-box {
    display: block;
    border-radius: 5px;
    background-color: #270082;
    position: absolute;
    width: 265px;
    bottom: 15px; right: 15px;
    z-index: 30 !important;
}

.App-madebymermaid #tool-box .service_name {
    color: #fff;
    padding: 30px 0;
    text-align: center;
}

.App-madebymermaid #tool-box .service_destination {
    font-weight: bold;
    color: #fff;
    padding-left: 10px;
    text-align: center;
    padding-bottom: 30px;
}


.rendered-page {
    position: relative; top: 70px;
    background-color: #fff;
    width: 100vw; height: 90vh;
    margin: 5px auto;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 2;
    border: 2px solid yellow;
}

.rendered-page::-webkit-scrollbar {
    width: 10px;
}
.rendered-page::-webkit-scrollbar-thumb {
    background-color: #2f3542;
}
.rendered-page::-webkit-scrollbar-track {
    background-color: grey;
}

