@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif !important;
}

.nav-bar {
    width: 100vw;
    background-color: #fcea74;
}

.nav-bar-h0 { height: 80px; }
.nav-bar-h1 { height: 100px; }
.nav-bar-h2 { height: 125px; }

.nav-bar-up { display: flex; }
.nav-bar-up .box:nth-child(1){ width: 70%; }
.nav-bar-up .box:nth-child(2){ width: 30%; }

.nav-bar-down { display:flex; }
.nav-bar-down .box:nth-child(1){ width: 20%; }
.nav-bar-down .box:nth-child(2){ width: 20%; }
.nav-bar-down .box:nth-child(3){ width: 30%; }
.nav-bar-down .box:nth-child(4){ width: 30%; }

.nav-bar .box {
    margin-top: 6px; margin-bottom: 6px;
}

.nav-bar .box:not(.box-last) {
    border-right: 3px solid #999;
}


/* URL 폼 스타일 작성 + 쿠키 체크박스 스타일 작성 */
.url-form {
    padding: 20px;
    padding-left: 33px;
}

.url-form form {
    display : flex;
}

.url-form form .url_form_label {
    font-weight: bold !important;
    padding: 10px;
    font-size: 1.2em !important;
}
.url-form form input[type="url"]{
    padding: 5px;
    font-size: 1.2em !important;
    width: 550px;
    margin-right: 30px;
}

.url-form form input[type="submit"]{
    width: 120px;
    font-weight: bold !important;
    color: #fff;
    border: none;
    background-color:royalblue;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 50px;
}

.url-form form .cookie_label {
    font-weight: bold !important;
    transform: translateY(10px);;
}

.url-form form input[type="checkbox"]{
    transform: scale(1.5) !important;
    cursor:pointer;
    margin-right: 30px;
}

.font-size-controller {
    padding: 30px;
}

.font-size-controller label {
    font-weight: bold;
    font-size: 1.2em !important;
    margin-right: 30px;
}