
.range-slider-box {
    margin: 20px 0;
    display: flex;
}

.range-slider-box .range-label {
    transform: translateY(10px);
    margin-right: 20px;
    color: #333 !important;
}

.progress-bar-container {
    margin: 10px 0;
    float: right;
}

.progress-bar-container button {
    display: inline-block;
    background-color: #ccc;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.progress-bar-container button .token {
    width: 80%; height: 80%;
}

.progress-bar-container button .token img {
    display: block;
    margin: 0 auto;
}

.progress-bar-container .progress-bar {
    position: relative;
    display: inline-block;
    width: 140px;
    height: 20px;
    background-color: white;
    border-radius: 12px;
    transform: translateY(0);
    margin: 0 10px;
}

.progress-bar-container .progress-bar .gage {
    display: block;
    content:"";
    border-radius: 12px;
    width: 0%;
    height: 100%;
    background-color: #6BCB77;
}

.progress-bar-container .progress-bar .g_percent{
    color: #333;
    position: absolute;
    right: -120px; bottom: 0;
    font-weight: bold;
    text-align: center;
    font-size: 1.2em;
}


